.DS_Store
*.swp

doc/api
doc/app

db/schema.rb

config/database.yml
config/memcached.yml
config/mongrel_cluster.yml
config/initializers/session_store.rb

log/*.log
log/mongrel*pid
log/mongrel_debug/*

tmp/**/*
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
