.section{:id=>"section-#{section_counter}"}
  .section-header
    %h2
      &= section.title
    %span.language 
      &=  "( #{section.language} )" 
  .section-body
    ~ Uv.parse section.body, 'xhtml', section.language, true, 'dawn'
