.section{:id=>"section-#{section_counter}"}
  .section-header
    %h2
      &= section.title
    %span.language 
      &= section.language
  .section-body
    ~ syntax_highlight section.body, section.highlighting_language
