#paste
  - form_for @paste do |f|
    = f.text_area :body
    %label{:for => 'default_language'}
      Default language: 
      = f.select :default_language, Uv.syntaxes
    %label{:for => 'paste_tag_names'}
      Tags: 
      = f.text_field :tag_names
    = submit_tag 'Eat it!'